
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&family=Luckiest+Guy:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: ivory;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

div {
    margin: 0 auto;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #616894;
    display: grid;
    grid-template-columns: 150px auto;
}

#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    width: 80px;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Work Sans', 'sans-serif';
    padding: 35px;
}

nav a:hover {
    background-color: ivory;
    color: #616894;
}

/*--------------------------------------------*/

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    text-align: center;
    font-family: 'Luckiest Guy', 'serif';
}

#hero-msg h1, #hero-msg h4 {
    color: white;
}

.home-title {
    color: #616894;
    font-size: 2em;
    margin-top: 10px;
}

.button-box {
    text-align: center;
}

.book {
    background-color: ivory;
    color: #616894;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Work Sans', 'sans-serif';
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #616894;
    color: white;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

/*--------------------------------------------*/

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 150px);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

h2 {
    font-family: 'Luckiest Guy', 'serif';
    margin: 0;
}

.card-img {
    border: 10px solid #616894;
    width: 100%;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

/*--------------------------------------------*/

#background {
    background-color: #d8da58;
    height: 725px;
    
}

.mountains {
    width: 100%;
}

.msg {
    background-color: #616894;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: ivory;
    font-family: 'Work Sans', 'sans-serif'
}

.msg p {
    color: ivory;
    font-family: 'Work Sans', 'sans-serif';
    font-size: .8em;
    padding-bottom: 15px;
}

.join {
    background-color: #616894;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Work Sans', 'sans-serif';
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: ivory;
    color: #616894;
}

/*--------------------------------------------*/

footer {
    color: ivory;
    background-color: #B6C1CE;
    font-family: 'Work Sans', 'sans-serif';
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: ivory;
    text-decoration: none;
}

footer a:hover {
    color: #dad858;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}
