.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

div img {
    grid-column: 1/2;
    grid-row: 1/3;
}

div h1 {
    font-size: 100px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
}

div h2 {
    color: rgb(132, 0, 0);
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 3.5em;
    letter-spacing: .2em;
    align-self: start;
}

#shade {
    background-color: lightgray;
    grid-column: 2/4;
    grid-row: 1/3;
}