html {
    background-color: pink;
}

header {
    text-align: center;
    color: white;
    margin-left: 300px;
    margin-right: 300px;
}

h1:hover {
    color: black;
}

h2 {
    font-size: small;
}

.centerlist
{
    text-align: center;
    list-style-position: inside;
}

ol.centerlist 
{
    text-align: left;
    margin-left: 35%;
}

img {
    width: 15%;
    display: block;
    margin: 0 auto;
}

p {
    text-align: center;
    color: white;
    font-size:xx-large;
    margin-left: 470px;
    margin-right: 470px;
}

footer {
    text-align: center;
}