/* colors: primary secondary accent1 accent2 
pink blue green purple 
#F07F90	#4E7B93	#96AE6F	#886D84 
Heading Font: Fuzzy Bubbles
Paragraph Font: Jost*/

@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=Jost:ital,wght@0,400;0,700;1,400&display=swap');

/*CSS for all site pages------------------*/

body {
    background-color: white;
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    background-color: #F07F90;
    display: grid;
    grid-template-columns: 3(1fr);
}

#logo-link {
    justify-self: center;
    align-self: center;
}

nav {
    background-color: #F07F90;
    line-height: 3em;
    text-align: center;
    font-size: 1.2em;
    font-family: "Jost", sans-serif;
    list-style-type: none;
    /* delete display: flex, and work with the grid */
    display: flex;
}

nav a {
    color: white;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    color: white;
    background-color: #886D84;
}

.logo {
    width: 20%;
}

footer {
    display: flex;
    background-color: #4E7B93;
    color: white;
}

footer p:nth-of-type(1) {
    font-family: "Fuzzy Bubbles", sans-serif;
    padding: 20px 50px;
    font-size: 30px;
}

footer p:nth-of-type(2) {
    padding: 0 20%;
    font-size: 20px;
}

footer button {
    font-family: "Jost", sans-serif;
    font-size: 30px;
    background-color: #96AE6F;
    text-decoration: none;
    color: white;
    padding: 0 30px;
    margin: 0 30px;
    border: #F07F90 solid 10px;
}

footer button:hover {
    background-color: #96AE6F;
    color: white;
}


/*CSS for home page-----------------------*/

.main-home {

}

.intro-grid {
    display: grid;
    grid-template-columns: 2(1fr);
    grid-template-rows: auto;
}

.intro-text {
    border: 5px solid #96AE6F;
    grid-column: 1/2;
    margin: 20px;
    text-align: center;
}

.image-me {
    width: 250px;
    grid-column: 2/3;
    margin: 20px;
}

.img-examples img {
    width: 25%;
    border: 5px solid #4E7B93;
    padding: 10px;
}

.insp-details {
    border: 5px solid #886D84;
    margin: 20px 20%;
    text-align: center;
}

.port-details {
    border: 5px solid #886D84;
    margin: 20px 20%;
    text-align: center;
}

/*CSS for portfolio page------------------*/

.main-portfolio {

}

.gallery {

}

.gallery-title {

}

.gallery img {

}

.description {

}

.goals {

}

.future {

}

/*CSS for inspiration page----------------*/

.main-inspiration {

}

.websites {

}

/* add a class for each website like this: .websitename {} */

.contact-button {
    
}

/*CSS for contact page----------------*/
