/* colors: primary secondary accent1 accent2 
pink blue green purple 
#F07F90	#4E7B93	#96AE6F	#886D84 
Heading Font: Fuzzy Bubbles
Paragraph Font: Jost*/

#content {

}

nav {

}

main {

}

.intro-grid {
    /* display: grid;
    grid-template-columns: 4(1fr);
    grid-template-rows: auto;
    grid-template-areas: "txt img . pattern"; */
}

.intro-text {
    /* grid-area: txt; */
}

.image-me {
    /* grid-area: img; */

}

.pattern {
    /* grid-area: pattern; */
}

.insp-details {

}

.port-details {

}
