.image {
    width: 100%;
}

.main {
    display: grid;
    grid-template-rows: 205px 1fr 80px;
}

.bottom {
    grid-row: 3/4;
    background-color: rgb(75, 127, 210);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.box1 {
    grid-column: 1/2;
}

.box2 {
    grid-column: 2/3;
}

.box3 {
    grid-column: 3/4;
}

.bottomtext {
    justify-items: center;
}

.text1 {
    grid-row: 1/2;
}

.text2 {
    grid-row: 2/3;
}

@media 